- content_for :content do
	- if current_user.group
		.module
			.head
				%h3 Users
			.body
				%a{ :href => '/users/new' } Add
				%table
					%thead
						%tr
							%th name:
							%th email:
							%th rank:
					%tbody
						- current_user.co_users.each do |u|
							%tr
								%td= u.name
								%td= u.email
								%td= u.rank
								
	.module
		.head
			%h3 Forms
		.body
			%a{ :href => '/forms/new' } add
			%table
				%thead
					%tr
						%th name:
						%th description:
						%th author:
						%th creation date:
						%th actions:
				%tbody
					- @forms.each do |f|
						%tr
							%td= f.name
							%td= f.description || '- No description -'
							%td= f.user.name
							%td= f.created_at
							%td
								%a{ :href => '/forms/' + f.name } edit